
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span [style.cursor]="'pointer'" routerLink="/bdd" >Bdd</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
      <span [style.cursor]="'pointer'" routerLink="/books1"  >Books1</span>&nbsp;|&nbsp;
      <span [style.cursor]="'pointer'" routerLink="/books2"  >Books2</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
      <span [style.cursor]="'pointer'" routerLink="/sports1" >Sports1</span>&nbsp;|&nbsp;
      <span [style.cursor]="'pointer'" routerLink="/sports2" >Sports2</span>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>