body {
    text-align: center;
}

::ng-deep .mat-card-header .mat-card-title {
  
  font-size: 12px;;
  
}

::ng-deep .mat-card-title {
  color:blue;
  font-weight: 400;
}

::ng-deep .mat-mini-fab {
  width:34px !important;
  height:34px !important;
  font-size:14px !important;
  padding: 0px 5px !important;
  line-height: 34px !important;
}


.product-scroll-viewport {
    height: 500px;
    width: 70%;
    margin:0 auto;
    margin-top:10px;
  }


  .product-item {
    height: 20px;
    _width: 60%;
    display: flex;
    margin-top:15px;
    margin-left:15px;
    margin-right:15px;
    vertical-align: middle;
  }
  .product-item:hover {
    cursor: pointer;
}



  cdk-virtual-scroll-viewport {
    border: none;
  }

  .mat-chip {
    font-size: 12px;
     min-height: 20px;
  }











.style-card {
    margin:0 auto;
    margin-top: 10px;
    width: 60%;
}

div .cform-field
{
    display: block;
   _text-align: left;
}

.cform-field {


    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: left;
}