body {
    text-align: center;
}

.product-scroll-viewport {
    height: 500px;
    width: 70%;
    margin:0 auto;
    margin-top:10px;
  }


  .product-item {
    height: 30px;
    _width: 60%;
    display: flex;
    margin-top:15px;
    margin-left:15px;
    margin-right:15px;
  }
  .product-item:hover {
    cursor: pointer;
}



  cdk-virtual-scroll-viewport {
    border: none;
  }

  .mat-chip {
    font-size: 12px;
     min-height: 20px;
  }











.style-card {
    margin:0 auto;
    margin-top: 10px;
    width: 60%;
}

div .cform-field
{
    display: block;
   _text-align: left;
}

.cform-field {


    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: left;
}