body {
    text-align: center;
}



.style-card {
    margin:0 auto;
    margin-top: 10px;
    width: 60%;
}

div .cform-field
{
    display: block;
   _text-align: left;
}

.cform-field {


    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: left;
}