<div class='cbooks'>

  <div *ngIf="(datas$ | async) ;let list"  >
  <button mat-button color="primary" >items: {{ list.total }}</button>
  <button mat-button color="primary" >pages: {{ page }} / {{list.pages}} </button>
  <button mat-button color="accent"  >items / page: {{list.datas.length}}</button>
  </div>


  <div  style=" display: inline-block;margin-top:10px; width:100%;display: flex;align-items: flex-end;">
    <mat-form-field style="font-size: 12px;margin-left:2%;width:80%;">
             <mat-chip-list #chipList aria-label="recherche selection"  color="accent" >
               <mat-chip *ngFor="let item of filter.search" [selectable]="selectable"  color="primary" selected
                        [removable]="removable" (removed)="remove(item)">
                 {{item}}
                 <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
               </mat-chip>
               <input placeholder="medias, id, params..."
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)">
             </mat-chip-list>
                  </mat-form-field>
         
     </div>




    <cdk-virtual-scroll-viewport itemSize="55" class="product-scroll-viewport"  >
 

      <mat-card class="product-item mat-elevation-z7"  *cdkVirtualFor="let item of ds ; let index = index; let odd = odd;"  >
        
        <mat-card-header (click)="delete(item)">
          <mat-card-title>
            <button mat-mini-fab color="accent" aria-label="icon button with a menu icon">
              {{index+1}}
            </button>
            &nbsp; {{ item.firstname  }} {{ item.lastname  }} </mat-card-title>
       
        </mat-card-header>
    
        <div *ngIf="!item">
          Loading ...
        </div>

      </mat-card>
    
    
    
    </cdk-virtual-scroll-viewport>









<!--
    <div *ngFor="let item of (datas$ | async)?.datas " >
      <mat-card class="mat-elevation-z5 style-card">
        <mat-card-header>
        
          <div mat-card-avatar >
            <button mat-mini-fab color="accent" aria-label="Example icon button with a delete icon">
              <mat-icon *ngIf=" item.discipline == 'SWIM'">pool</mat-icon>
              <mat-icon *ngIf=" item.discipline == 'BIKE'">directions_bike</mat-icon>
              <mat-icon *ngIf=" item.discipline == 'RUNNING'">run_circle</mat-icon>
            </button>
          </div>
          <mat-card-title> {{ item.firstname  }} {{ item.lastname  }} </mat-card-title>
          <mat-card-subtitle>{{ item.discipline }}</mat-card-subtitle>
          <mat-card-subtitle>{{ item.day | date: 'medium' }}</mat-card-subtitle>
          <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>edit</mat-icon>
          </button>&nbsp;&nbsp;
          <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
      
        </mat-card-header>
        </mat-card>
      </div>
    
  -->
    </div>

